<% content_for :title do %>
  <%= t('.title') %>
<% end %>

<h1><%= t('.title_page')%></h1>

<% if @photos.any? %>
  <h2><%= t('.status_1')%></h2>
  <%= render 'photos/photos_loop' %>
<% else %>
  <p><%= t('.status_2')%></p>
<% end %>