<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %>
      <% else %>
        Welcome to frikr
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <nav>
        <%= link_to t('.home'), welcome_home_path %>
        <%= link_to t('.list_photos'), photos_path %>
        <% if user_signed_in? %>
          <%= link_to t('.my_photos'), my_photos_path %>
          <%= link_to t('.new_photo'), new_photo_path %>
          <%= link_to t('.go_to'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('.log_in'), new_user_session_path  %>
        <% end %>
      </nav>
    </section>

    <hr>

    <section>
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
      <%= yield %>
    </section>

    <hr>

    <section>
      <small><%= t('.foother') %></small>
    </section>
  </body>
</html>
